{% extends 'myapp/layout.html' %}

{% block title %}About myself{% endblock %}

{% block content %}
    <h4>Some information:</h4>
    <p>My name is Ihar Shauchuk, 30 years old, single, born and grew up in Minsk.
        In 2009 I graduated from high school, in 2014 I graduated from BNTU with a
        degree in power engineering. From 2014 till nowadays I work in Minsk cable
        networks as an engineer of the first category with an automated system of
        control and registration electricity. I am fond of karting, salsa,
        travelling and participating in pub quizzes. </p>
{% endblock %}

