<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}
    </title>
</head>
<body>
<aside>
    <h3>Navigation</h3>
    <ul>
        <a href="/">
            <li> Home</li>
        </a>
        <a href="/btc/">
            <li> Bitcoin</li>
        </a>
        <a href="/eth/">
            <li> Ethereum</li>
        </a>
        <a href="/usdt/">
            <li> Tether</li>
        </a>
    </ul>
</aside>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>